{{#partial "content"}}

    <h2>TECHNOLOGY DEPARTMENTS</h2>

<!--    {{#if department}}-->
<!--        {{#each department}}-->
<!--            {{department}}-->

<!--            <p>{{department}} created </p>-->

<!--        {{/each}}-->

<!--    {{else}}-->

<!--        <p>No departments posted yet</p>-->

<!--    {{/if}}-->

<!--    <a href="/">Return to home page</a>-->

<!--    <h2>TECHNOLOGY DEPARTMENTS</h2>-->

    {{#if department}}
        {{#each department}}
            <div class="row">
                <div class="col-md-4">
                    {{abb}}
                </div>

                <div class="col-md-4">
                    {{name}}
                </div>

                <div class="col-md-4">
                    {{division}}
                </div>
            </div>

        {{/each}}

    {{else}}

        <p>No departments posted yet</p>

    {{/if}}

    <a href="/">Return to home page</a>

{{/partial}}

{{> layout.hbs}}